canvas {
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
  height: auto !important;
}

ion-icon {
  background-color: #eb445a;
  border-radius: 7px;
  padding: 2px;
  position: absolute;
  top: 0px;
  right: 5px;
}
