<app-header [options]="options"></app-header>

<ion-content [fullscreen]="true">
      <ion-grid class="background-primary ion-padding">
        <ion-row class="ion-padding">
          <ion-col size-="12">
            <img src="/assets/images/stop-motion-logo-white.svg">
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding">
          <ion-col size-md="4" offset-md="4">
            <ion-list class="ion-margin-vertical">
              <p class="list-headline ion-padding-start ion-margin-vertical"><b>{{ 'labels_important_links' | translate }}</b></p>
              <ion-item appOpenUrl [url]="'https://kits.blog/impressum/'" detail>
               <ion-label class="ion-padding-start">{{ 'labels_imprint' | translate }}</ion-label>
              </ion-item>
              <ion-item appOpenUrl [url]="'https://kits.blog/datenschutz/'" detail>
                <ion-label class="ion-padding-start">{{ 'labels_privacy' | translate }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom ion-padding">
          <ion-col size-md="4" offset-md="4">
            <p>
              <small class="ion-padding-vertical">{{ 'labels_version' | translate }} {{environment.version}}</small>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
  
  </ion-content>