ion-slides {
  height: 120px;
  margin: 0 auto;
  ion-slide {
    width: auto !important;
  }
}

.swiper-container-horizontal {
  .swiper-scrollbar {
    left: 0;
    bottom: 0px;
    height: 7px;
    opacity: 1 !important;
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait)  {
  ion-slides {
      width: 270px;
  }
}

@media screen and (max-width: 600px) and (orientation: landscape)  {
  ion-slides {
      width: 360px;
  }
}

@media screen and (min-width: 601px) and (orientation: portrait) {
  ion-slides {
      width: 600px;
  }
}

@media screen and (min-width: 601px) and (orientation: landscape) {
  ion-slides {
      width: 800px;
  }
}