video {
    border-radius: 7px;
    position: absolute;
}

.camera-status {
    display: block;
    position: absolute;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 14px;
    padding: 3px 10px;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .camera-status {
        width: 250px;
    }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    .camera-status {
        width: 333px;
    }
}

@media screen and (min-width: 601px) and (orientation: portrait) {
    .camera-status {
        width: 600px;
    }
}

@media screen and (min-width: 601px) and (orientation: landscape) {
    .camera-status {
        width: 800px;
    }
}