<ion-toolbar color="primary">
  <ion-buttons slot="primary">
    <ion-button color="light" class="ion-padding-start">
      <ion-icon slot="icon-only" color="light" src="/assets/icons/custom/save.svg"></ion-icon><br>
    </ion-button>
    <ion-button color="light" class="ion-padding-start">
      <ion-icon slot="icon-only" color="light" src="/assets/icons/custom/folder-load.svg"></ion-icon>
    </ion-button>
    <ion-button color="light" class="ion-padding-start">
      <ion-icon slot="icon-only" color="light" src="/assets/icons/custom/camera.svg"></ion-icon>
    </ion-button>
    <ion-button color="light" class="ion-padding-start">
      <ion-icon slot="icon-only" color="light" src="/assets/icons/custom/delete.svg"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

