.container {
  margin: 0 auto;
  display: block;
  position: relative;
}

.camera-state {
    text-align: right;
    margin-top: -25px;
    margin-bottom: 10px;

  span {
    font-size: 16px;
  }
}

video {
  position: absolute;
  top: 0;
  left: 0;
}

#thumbnail-container {
  display: flex;
  overflow-x: auto;
}

#snapshot-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.5;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .container {
    height: 333px;
    width: 250px;
  }

  #thumbnail-container {
    max-width: 250px;
  }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  .container {
    height: 250px;
    width: 333px;
  }

  #thumbnail-container {
    max-width: 333px;
  }
}

@media screen and (min-width: 601px) and (orientation: portrait) {
  .container {
    height: 800px;
    width: 600px;
  }

  #thumbnail-container {
    max-width: 600px;
  }
}

@media screen and (min-width: 601px) and (orientation: landscape) {
  .container {
    height: 600px;
    width: 800px;
  }

  #thumbnail-container {
    max-width: 800px;
  }
}
