<ion-content [fullscreen]="true">
    <app-toolbar></app-toolbar>

    <app-playback-slider></app-playback-slider>
    <p *ngIf="!environment.production" class="ion-padding-horizontal ion-no-margin camera-state">
        <span *ngIf="state | async as state">
            <strong>Kamera Status: {{ state[0] }}</strong>
        </span>
    </p>
    <div class="container">
        <app-timer></app-timer>
        <app-video #appVideo></app-video>
        <app-snapshot-canvas #appSnapshotCanvas></app-snapshot-canvas>
        <app-player-canvas #appPlayerCanvas></app-player-canvas>
    </div>
    <app-thumbnails></app-thumbnails>
    <app-tabbar></app-tabbar>
</ion-content>