.container {
  margin: 0 auto;
  display: block;
  position: relative;
}

.camera-state {
  text-align: right;
  margin-top: -22px;
  margin-bottom: 20px;

  span {
    font-size: 16px;
  }
}

video {
  position: absolute;
  top: 0;
  left: 0;
}

#thumbnail-container {
  display: flex;
  overflow-x: auto;
}

#snapshot-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.5;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .container {
    height: 360px;
    width: 270px;
  }

  #thumbnail-container {
    max-width: 270px;
  }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  .container {
    height: 270px;
    width: 360px;
  }

  #thumbnail-container {
    max-width: 360px;
  }
}

@media screen and (min-width: 601px) and (orientation: portrait) {
  .container {
    height: 800px;
    width: 600px;
  }

  #thumbnail-container {
    max-width: 600px;
  }
}

@media screen and (min-width: 601px) and (orientation: landscape) {
  .container {
    height: 600px;
    width: 800px;
  }

  #thumbnail-container {
    max-width: 800px;
  }
}
