ion-tab-bar {
    --border       : none;
    padding        : 0;
    justify-content: space-evenly;
    z-index: 999999 !important;
    background-color: transparent !important;
}

app-tabbar > * {
    touch-action   : manipulation;
}

ion-icon {
    color: #fff !important;
}