ion-tab-bar {
    --border       : 1px solid #00a3d3;
    padding        : 0;
    justify-content: space-evenly;
    z-index: 999999 !important;
}

app-tabbar > * {
    touch-action   : manipulation;
}