// @import url('../../../../../theme/variables.scss');

ion-tab-bar {
    --border       : none;
    padding        : 0;
    justify-content: space-evenly;
    z-index: 999999 !important;
    background-color: transparent !important;
    margin-bottom: env(safe-area-inset-bottom);
    height: 90px;
    &> * {
        flex-basis: 100%;
    }
    ion-tab-button {
        background-color: transparent;
    }
}

ion-icon {
    color: #fff !important;
}

@media screen and (min-width: 601px) {
    ion-tab-bar {
        background-color: var(--ion-color-primary) !important;
        ion-tab-button {
            background-color: transparent;
        }
    }
}