<ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <ion-icon color="primary" src="/assets/icons/custom/play-pause.svg"></ion-icon>
        <ion-label color="primary">{{ 'tabbar_play_stop' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon color="primary" src="/assets/icons/custom/motion-sensor.svg"></ion-icon>
        <ion-label color="primary">{{ 'tabbar_capture' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon color="primary" src="/assets/icons/custom/podcast.svg"></ion-icon>
        <ion-label color="primary">{{ 'tabbar_record_audio' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon color="primary" src="/assets/icons/custom/undo.svg"></ion-icon>
        <ion-label color="primary">{{ 'tabbar_undo' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>